@font-face {
  font-family: 'Graphik LCG';
  src: url('/fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('/fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

.header {
  color: #fff;
  font-family: Graphik LCG sans-serif;
  margin-bottom: 30px;
}

.header-skillbox {
  font-family: Graphik sans-serif;
  margin-bottom: 58px;
  font-size: 40px;
}

.header-modules {
  font-size: 48px;
  margin-bottom: 83px;
}

.download {
  color:#fff;
  background-color: #2f1ce4;
  padding: 20px;
  border: 3px solid #2f1ce4;
}

.more {
  color:#fff;
  background-color: transparent;
  padding: 20px;
  border: 3px solid #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.block-modules {
  width: 1178px;
  margin: 0 auto;
}

.content-box {
  padding-left: 80px;
}

.return-link {
  display: block;
  margin-top: 10px;
  padding-left: 35px;
  background-image: url(../img/return.png);
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.link-modules {
  background-image: url(../img/return_inverse.png);
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-right: 35px;
}

.modules-box {
  text-align: center;
}

.main-header {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.second-header {
  margin-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.list1 {
  padding-left: 200px;
  font-size: 18px;
}

.list2 {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.parent {
  display: inline-block;
  width: 480px;
  height: 505px;
  position: relative;
}

.right-parent {
  display: inline-block;
  width: 480px;
  height: 505px;
  position: relative;
}

.first-img {
  background-image: url(../img/1list.png);
  background-position: top;
  background-repeat: no-repeat;
}

.second-img {
  background-image: url(../img/2list.png);
  background-position: top;
  background-repeat: no-repeat;
}

.third-img {
  background-image: url(../img/3list.png);
  background-position: top;
  background-repeat: no-repeat;
}

.fourth-img {
  background-image: url(../img/4list.png);
  background-position: top;
  background-repeat: no-repeat;
}

.list-header {
  color: #2f1ce4;
  font-size: 36px;
  margin-top: 209px;
  margin-bottom: 29px;
  margin-left: 52px;
}

.element-list {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 60px;
  box-shadow: 1px 1px 20px #dedcdc;
}

.element-list2 {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 97px;
  box-shadow: 1px 1px 20px #dedcdc;
}

.nested-list {
  display: inline-block;
  list-style: none;
  position: absolute;
  line-height: 30px;
  padding: 0;
  margin-left: 53px;
  width:250px;
}

.number {
  position: absolute;
  right: 23px;
  bottom: 29px;
  font-size: 48px;
  color: #eaeaea;
}

.btn-box {
  text-align: center;
}

.btn {
  padding-left: 81px;
  padding-top: 31px;
  padding-right: 80px;
  padding-bottom: 33px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #2f1ce4;
  font-size: 18px;
  color: #2f1ce4;
}

.wave {
  background-image: url(../img/figure1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 624px;
}

.paragraph {
  padding-left: 180px;
  margin-bottom: 20px;
}

.table th {
  margin-top: 100px;
  border: 1px solid #000;
}

.table td {
  margin-top: 100px;
  border: 1px solid #000;
}

.table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.figure1 {
  padding-left: 100px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.first-heading {
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 52px;
}

.first-description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
}